@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body{
	font-family: 'Noto Sans JP', sans-serif;
}
*,*::after, *::before{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}
a{
   text-decoration: none;
}
ul{
   list-style-type: none;
}
img{
   display: block;
   width: 100%;
   height: auto;
}
.container{
   width: 85%;
   margin: 0 auto;
}
/*---Web Top---*/
.top-up{
   background-color: #008b8b;
}
.mail-phone{
   display: flex;
   width: 30%;
}

.mail a, .mail i, .phone a, .phone i{
   margin-right: 5px;
   color: #f5f5f5;
}
.mail, .phone{
   padding-right: 15px;
   
}

/*--Social Media--*/
.sociallink{
   width: 60%;
   display: flex;
   justify-content: flex-end;
}
.sociallink li a{
   color: #f2f3f4;
   padding: 0px 15px;
}
.sociallink li a:hover{
   color: #000075;
   transition-duration: 0.4s;
   background-color: whitesmoke;
   border-radius: 10px;
}
.social ul{
   display: flex;
   justify-content: flex-end;
}
.link-inner{
   display: flex;
   padding: 7px 10px;
   justify-content: space-between;
}

/*------Menu Area-----*/
.header-area{
   background-color: #00ffef;
   padding: 20px 0px;
   
}

.head-inner{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.logo{
   /*width: 10%;*/
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 25px;
   width: 10%
}
.logo i{
   font-size: 30px;
   text-align: center;
}
.menu{
   width: 80%;
   /*background-color: white;*/
   
}
.menu ul{
   display: flex;
   justify-content: flex-end;
   align-items: center;
   
}
.menu ul a{
  color: black;
  padding: 15px 20px;
  border-width: 2px black;
  font-size: 20px;
}
.menu ul a:hover{
   text-decoration: underline white 3px;
   padding-bottom: 5px;
   transition-duration: 0.3s;
}
/*------Destinatins------*/
.destinatins-page-all{
   background-color: #F0FFFF;
   padding: 0px 0px 50px;
}
.home-blog{
   width: 10%;
   color: #6F00FF;
   display: flex;
   font-size: 18px;
   padding: 20px 0px;
   justify-content: space-between;
}
.home-blog a{
   color: #6F00FF;
}
.home-blog i{
   padding-left: 20px;
   color: gray;
}
/*----Destination----*/
.destinatins-page-all{
   background-color: #f0ffff;
   padding: 0px 0px px;
}
.destination-title{
   padding: 30px 0px;
   font-weight: bold;

}
.desti-content-title{
   padding: 15px 0px;
}
.desti-content-title h2{
   padding: 15px 0px;
   border-bottom: 1.5px solid gainsboro;
   text-decoration: underline;
}
.desti-text h3{
   padding: 15px 0px;
}
.desti-text p{
   padding: 5px 0px 20px;
}
.desti-text a{
   margin: 20px 0px;
   padding: 10px;
   color: whitesmoke;
   background-color: #6f00ff;
   border-radius: 5px;
   margin-bottom: 5px;
}
.destiname{
   width: 100%;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.destiname p{
   padding: 20px 0px;
}
.desti-content{
   width: 32%;
   background-color: white;
   padding: 20px;
   margin-bottom: 40px;
   box-shadow: .5px 1px 8px  #00b7eb;
   justify-content: space-between;
   border-radius: 2px;
}
.desti-img img{
   width: 475px;
   height: 310px;
}
/*----Footer Section----*/
.footer-area{
   background-color: #00FFEF;
}
.footer{
   width: 100%;
   justify-content: space-between;
}
.footer-menu{
   width: 100%;
   display: flex;
   padding: 15px 0px;
   justify-content: space-between;
   border-bottom: 1.5px solid #008B8B;
   align-items: center;
}
.f-menu{
   width: 80%;
}
.f-menu ul{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding: 20px;
}
.f-menu ul a{
  color: black;
  padding: 15px 20px;
  border-width: 2px black;
  font-size: 20px;

}
.f-menu ul a:hover{
   color: #fff;
   transition-duration: 0.3s;
}


.icon li a{
   color: black;
   padding: 0px 15px;
}
.icon li a:hover{
   color: #fff;
   transition-duration: 0.4s;
   background-color: #000;
   border-radius: 10px;
}
.icon ul{
   display: flex;
   justify-content: flex-end;
   

}
.address{
   display: flex;
   justify-content: space-between;
   text-align: center;
   padding: 15px 0px;
}
.address i{
   margin-right: 10px;
   color: black;

}
.address i:hover{
   color: whitesmoke;
   transition-duration: 0.3s;
}
